@import "@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;

  --popover: 222 47% 11%;
  --popover-foreground: 210 40% 98%;

  --card: 222 47% 11%;
  --card-foreground: 210 40% 98%;

  --border: 217 33% 20%;
  --input: 217 33% 20%;
  --ring: 215 20% 65%;

  --muted: 217 33% 18%;
  --muted-foreground: 215 20% 65%;

  --accent: 217 33% 18%;
  --accent-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222 47% 11%;

  --secondary: 217 33% 18%;
  --secondary-foreground: 210 40% 98%;
}